<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="conexionBasaDatos" connectionString="C:\Documents and Settings\MaquinaVirtual XP\Escritorio\AdministradorTareas\AdministradorTareas\app\BaseDatos"
            providerName="System.Data.SqlClient" />
        <add name="AdministradorTareas.Properties.Settings.conexionBaseDatos"
            connectionString="Data Source=A\SQLEXPRESS;Initial Catalog=BDTareas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BDTareasConnectionString1" connectionString="Data Source=A\SQLEXPRESS;Initial Catalog=BDTareas;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BDTareasConnectionString" connectionString="Data Source=A\SQLEXPRESS;Initial Catalog=BDTareas;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
